<div class="container-fluid"><nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="./">
    <i class="fas fa-coffee fontawsome_icon"></i>
  </a>

  <form class="form-inline ml-auto">
    <button class="btn btn-outline-success" type="button" routerLink="/profile">Profile</button>
  </form>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/login">Shop Sip <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item  dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ...
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <!--forces you to login or register in order to shop-->
          <a class="dropdown-item" routerLink="/login">Shop</a>
          <a class="dropdown-item" routerLink="https://www.linkedin.com/in/bslam/">About Brian</a>
          <a class="dropdown-item" routerLink="/checkout">CheckOut</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
</div>



<!-- Page Content -->
<body class="container website-background">

  <div class="row">


    <div class="align-content-center">
      <div class="row align-content-center">
        <div class="img-thumbnail align-content-center">
          <img src="../../../../assets/images/Roasted_coffee_beans.jpg" class="card-picture-size align-content-center">
          <div class="figure-caption">
            <h4 class="align-content-center">Coffee Beans $2.99 lb</h4>
            <h4 class="align-content-center"><a routerLink="">Add to Cart</a> </h4>
          </div>
        </div>
      </div>
    </div>

  </div>

<!--    <div class="col-12 ">-->
<!--      <div class="row">-->
<!--        <div class="img-thumbnail card-picture-size">-->
<!--          <img src="../../../../assets/images/Instant_coffee.jpg" class="card-picture-size">-->
<!--          <div class="figure-caption">-->
<!--            <h4 class="text-left">Instant Coffee $1</h4>-->
<!--            <h4><a routerLink="">Add to Cart</a> </h4>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->



</body>
