
<!-- Page Content -->
<body class="container website-background">

  <div class="row">


    <div class="align-content-center">
      <div class="row align-content-center">
        <div class="img-thumbnail align-content-center">
          <img src="../../../../assets/images/Roasted_coffee_beans.jpg" class="card-picture-size align-content-center">
          <div class="figure-caption">
            <h4 class="align-content-center">Coffee Beans $2.99 lb</h4>
            <h4 class="align-content-center"><a routerLink="">Add to Cart</a> </h4>
          </div>
        </div>
      </div>
    </div>

  </div>

<!--    <div class="col-12 ">-->
<!--      <div class="row">-->
<!--        <div class="img-thumbnail card-picture-size">-->
<!--          <img src="../../../../assets/images/Instant_coffee.jpg" class="card-picture-size">-->
<!--          <div class="figure-caption">-->
<!--            <h4 class="text-left">Instant Coffee $1</h4>-->
<!--            <h4><a routerLink="">Add to Cart</a> </h4>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->



</body>
