
<body>
<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <!--        <div ng-repeat="item in model.items" class="col-sm-4 col-lg-4 col-md-4">-->
        <!--          <div class="thumbnail">-->
        <!--            <img ng-src={{item.image}} alt="">-->
        <!--            <div class="caption">-->
        <!--              <h4 class="pull-right">${{item.price}}</h4>-->
        <!--              <h4><a href="#/shop/item/{{item._id}}">{{item.name}}</a></h4>-->
        <!--              <p>{{item.description}}</p>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->
        <div class="img-thumbnail">
          <img src="https://en.wikipedia.org/wiki/Coffee_bean#/media/File:Roasted_coffee_beans.jpg" >
          <div class="figure-caption">
            <h4 class="text-right">$2.99 lb</h4>
            <h4><a routerLink="">Add to Cart</a> </h4>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<!--</div>-->
<!-- /.container -->
</body>
