.class {
  attribute: value;
}

.website-background {
  background-color: transparent;
}

.margin-auto{
  margin: auto;
}

.box-shadow{
  box-shadow: 10px 10px 20px 10px #D3D3D3;
}


.card-picture-size{
  width: 75%;
  height: 75%;
}
