 <nav class="navbar navbar-fixed-top cl-blue-navbar navbar-medium ">
  <div class="container-fluid">
    <a class=" navbar-brand font-weight-bold text-white float-left" routerLink="">
      Sip
    </a>
    <a routerLink="" class="navbar-link float-left">
      <i class="fas fa-coffee fontawsome_icon float-left text-white"></i>
    </a>
    <div class="dropdown float-right">
      <button class="dropbtn">Menu</button>
      <div class="dropdown-content">
        <a routerLink="/login">Login</a>
        <a routerLink="/register">Register</a>
        <a routerLink="">About Us</a>
      </div>
    </div>
  </div>
</nav>


