
<!--&lt;!&ndash;&#45;&#45;&#45;&#45;Top navbar&#45;&#45;&#45;&#45;&ndash;&gt;-->



<!--<nav class="navbar navbar-fixed-top cl-blue-navbar ">-->
  <!--<div class="container-fluid">-->
    <!--<a class=" navbar-brand font-weight-bold text-white float-left" routerLink="">-->
      <!--Profile-->
    <!--</a>-->
    <!--<a (click)="update()" class="navbar-link float-left text-white">-->
      <!--<i class="fas fa-check fontawsome_icon"></i>-->
    <!--</a>-->
  <!--</div>-->
<!--</nav>-->

<!--&lt;!&ndash;&#45;&#45;&#45;&#45;Title&#45;&#45;&#45;&#45;&ndash;&gt;-->

<!--<div class="container above-below-space">-->
  <!--<header>-->
  <!--</header>-->
  <!--<form>-->

    <!--<div class="form-group">-->
      <!--<label for="username">Username</label>-->
      <!--<input [(ngModel)]="user.username" name="username" type="text" class="form-control" id="username" placeholder="Username">-->
    <!--</div>-->

    <!--<div class="form-group">-->
      <!--<label for="first-name">First Name</label>-->
      <!--<input [(ngModel)]="user.firstName" name="first" type="text" class="form-control" id="first-name" placeholder="Alice">-->
    <!--</div>-->

    <!--<div class="form-group">-->
      <!--<label for="last-name">Last Name</label>-->
      <!--<input [(ngModel)]="user.lastName" name="last" type="text" class="form-control" id="last-name" placeholder="Wonderland">-->
    <!--</div>-->

  <!--</form>-->
  <!--<a class="btn btn-primary btn-block"-->
     <!--routerLink="/user/{{uid}}/website">Websites</a>-->
  <!--<a class="btn btn-danger  btn-block"-->
     <!--routerLink="/login">Logout</a>-->
  <!--<h1></h1>-->

  <!--&lt;!&ndash;&#45;&#45;&#45;&#45;Bottom navbar&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--</div>-->
<!--<nav class="navbar fixed-bottom float-right col-12">-->
  <!--<div class="container-fluid col-12">-->
    <!--<div class="row navbar-text float-right col-12">-->
      <!--<a routerLink="/user/{{uid}}" class="float-right">-->
        <!--<i class="fas fa-user fontawsome_icon float-right text-white col-12"></i>-->
      <!--</a>-->
    <!--</div>-->
  <!--</div>-->
<!--</nav>-->


<!--&lt;!&ndash;&#45;&#45;&#45;&#45;Top navbar&#45;&#45;&#45;&#45;&ndash;&gt;-->



<!--<nav class="navbar navbar-fixed-top cl-blue-navbar ">-->
  <!--<div class="container-fluid">-->
    <!--<a class=" navbar-brand font-weight-bold text-white float-left" routerLink="">-->
      <!--Profile-->
    <!--</a>-->
    <!--<a (click)="update()" class="navbar-link float-left text-white">-->
      <!--<i class="fas fa-check fontawsome_icon"></i>-->
    <!--</a>-->
  <!--</div>-->
<!--</nav>-->

<!--&lt;!&ndash;&#45;&#45;&#45;&#45;Title&#45;&#45;&#45;&#45;&ndash;&gt;-->

<!--<div class="container above-below-space">-->
  <!--<header>-->
  <!--</header>-->
  <!--<form>-->

    <!--<div class="form-group">-->
      <!--<label for="username">Username</label>-->
      <!--<input [(ngModel)]="user.username" name="username" type="text" class="form-control" id="username" placeholder="Username">-->
    <!--</div>-->

    <!--<div class="form-group">-->
      <!--<label for="first-name">First Name</label>-->
      <!--<input [(ngModel)]="user.firstName" name="first" type="text" class="form-control" id="first-name" placeholder="Alice">-->
    <!--</div>-->

    <!--<div class="form-group">-->
      <!--<label for="last-name">Last Name</label>-->
      <!--<input [(ngModel)]="user.lastName" name="last" type="text" class="form-control" id="last-name" placeholder="Wonderland">-->
    <!--</div>-->

  <!--</form>-->
  <!--<a class="btn btn-primary btn-block"-->
     <!--routerLink="/user/{{uid}}/website">Websites</a>-->
  <!--<a class="btn btn-danger  btn-block"-->
     <!--routerLink="/login">Logout</a>-->
  <!--<h1></h1>-->

  <!--&lt;!&ndash;&#45;&#45;&#45;&#45;Bottom navbar&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--</div>-->
<!--<nav class="navbar fixed-bottom float-right col-12">-->
  <!--<div class="container-fluid col-12">-->
    <!--<div class="row navbar-text float-right col-12">-->
      <!--<a routerLink="/user/{{uid}}" class="float-right">-->
        <!--<i class="fas fa-user fontawsome_icon float-right text-white col-12"></i>-->
      <!--</a>-->
    <!--</div>-->
  <!--</div>-->
<!--</nav>-->


<!--&lt;!&ndash;&#45;&#45;&#45;&#45;Top navbar&#45;&#45;&#45;&#45;&ndash;&gt;-->



<!--<nav class="navbar navbar-fixed-top cl-blue-navbar ">-->
  <!--<div class="container-fluid">-->
    <!--<a class=" navbar-brand font-weight-bold text-white float-left" routerLink="">-->
      <!--Profile-->
    <!--</a>-->
    <!--<a (click)="update()" class="navbar-link float-left text-white">-->
      <!--<i class="fas fa-check fontawsome_icon"></i>-->
    <!--</a>-->
  <!--</div>-->
<!--</nav>-->

<!--&lt;!&ndash;&#45;&#45;&#45;&#45;Title&#45;&#45;&#45;&#45;&ndash;&gt;-->

<!--<div class="container above-below-space">-->
  <!--<header>-->
  <!--</header>-->
  <!--<form>-->

    <!--<div class="form-group">-->
      <!--<label for="username">Username</label>-->
      <!--<input [(ngModel)]="user.username" name="username" type="text" class="form-control" id="username" placeholder="Username">-->
    <!--</div>-->

    <!--<div class="form-group">-->
      <!--<label for="first-name">First Name</label>-->
      <!--<input [(ngModel)]="user.firstName" name="first" type="text" class="form-control" id="first-name" placeholder="Alice">-->
    <!--</div>-->

    <!--<div class="form-group">-->
      <!--<label for="last-name">Last Name</label>-->
      <!--<input [(ngModel)]="user.lastName" name="last" type="text" class="form-control" id="last-name" placeholder="Wonderland">-->
    <!--</div>-->

  <!--</form>-->
  <!--<a class="btn btn-primary btn-block"-->
     <!--routerLink="/user/{{uid}}/website">Websites</a>-->
  <!--<a class="btn btn-danger  btn-block"-->
     <!--routerLink="/login">Logout</a>-->
  <!--<h1></h1>-->

  <!--&lt;!&ndash;&#45;&#45;&#45;&#45;Bottom navbar&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--</div>-->
<!--<nav class="navbar fixed-bottom float-right col-12">-->
  <!--<div class="container-fluid col-12">-->
    <!--<div class="row navbar-text float-right col-12">-->
      <!--<a routerLink="/user/{{uid}}" class="float-right">-->
        <!--<i class="fas fa-user fontawsome_icon float-right text-white col-12"></i>-->
      <!--</a>-->
    <!--</div>-->
  <!--</div>-->
<!--</nav>-->

