<div class="container-fluid">
  <div class="row">

    <div class="col-lg-4 text-center margin-auto">
      <div class ="container-fluid align-content-center">
        <h1>Sip</h1>
        <h3><span class="fas fa-coffee"></span></h3>
      </div>
    </div>




    <div class="col-sm box-shadow">
      <div class="text-center col-sm-12 align-content-center">
        <div class="col-sm-12 align-content-center">
          <form>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Username">
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" placeholder="alice@wonderland.com">
            </div>
            <div class="form-group">
              <label for="following">Following</label>
              <input type="text" class="form-control" id="following" placeholder="Input Users to Follow" required>
            </div>

          </form>
          <a class="btn btn-block"
             (click)="follow()" >Update Follows</a>
          <a class="btn btn-danger  btn-block"
             (click)="logout()" >Logout</a>
          <h1></h1>
        </div>
      </div>
    </div>
  </div>
</div>
