<div class="container-fluid">
  <div class="row">

    <div class="col-lg-4 text-center margin-auto">
        <div class ="container-fluid align-content-center">
          <h1>Sip</h1>
          <h3><span class="fas fa-coffee"></span></h3>
        </div>
    </div>




    <div class="col-sm box-shadow">
      <div class="text-center col-sm-12 align-content-center">
        <div class="col-sm-12 align-content-center">
          <h3>Login to Start Sippin</h3>
          <input type="text"
                 class="form-control input-group-sm"
                 placeholder="username"/>
          <input type="password"
                 class="form-control input-group-sm"
                 placeholder="password"/>
          <span class="group-btn">
        <div class="form-group">
          <button class="btn btn-primary btn-block " type="submit"><!--[disabled]="!f.valid"-->Login</button>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block btn-danger " type="submit"><!--[disabled]="!f.valid"-->Admin Login</button>
        </div>
        <div class>
          <a href="/facebook/login" class="btn btn-primary btn-block">
            <span class="fa fa-facebook">
            </span> Facebook</a>
        </div>


        <p class="message">Not registered? <a routerLink="/register">Create an account</a></p>
            </span>
        </div>
      </div>
    </div>
  </div>
</div>
